/* ------------ *\
    banner
\* ------------ */
.p-contact-banner{
    --mask:
      radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
      radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
	background-image: url(../imgs/contact/contact_1.jpg);
	height: 300px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    background-position:center center;
}
.p-contact-banner-txt{
    position: absolute;
    bottom: 5%;
    right: 1% ;
    background-color: #635e5e87;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
    animation: contact-anime;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}
@keyframes contact-anime {
    0%{transform: translateY(-30px);}
    25%{transform: translateX(-10px)}
    50%{transform: translateY(-80px);}
    100%{transform: translateX(-80px)}

}
.p-contact-banner-txt p{
    color: #fff;
}
@media screen and (min-width: 550px){
    .p-contact-banner{
        height: 500px;
    }
}
@media screen and (min-width: 768px){
	.p-contact-banner-txt p{font-size: 24px;}
    .p-contact-banner-txt{
        line-height: 2em;
        right: 3% ;
    }
}
@media screen and (min-width: 1024px){
    .p-contact-banner{
        height: 600px;
    }
	.p-contact-banner-txt p{font-size: 24px;}
    .p-contact-banner-txt{
        line-height: 2em;
        right: 15% ;
    }
}
@media screen and (min-width: 1200px){
	.p-contact-banner-txt p{font-size: 28px;}
    .p-contact-banner-txt{
        line-height: 2em;
        right: 5% ;
    }
}


/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}
@media screen and (max-width:767px){
	.breadcrumb li{padding: 0 5px;}
}
/* ------------ *\
    main
\* ------------ */
/* 地圖與地址主要設定在index css */
.address h2{
    margin-top: 100px;
}
.map{
    margin-top: 50px;
}
.address-txt {
    margin: auto;
}
.address-txt h3{
    font-weight: 600;
    margin-top: 40px;
}
/* 回饋表單 */
.contact-table h2{
    margin-top: 100px;
}
.table-content{
    background-color: #3c56a6;
    border-radius: 10px;
    padding-bottom: 5%;
    margin: 50px 0;
}
.table-content .logo-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-content .logo-pic img{
    width: 180px;
}
.table-content h3{
    color: #fff;
    text-align: center;
    padding: 3% 1%;
    border-bottom: #fff 1px dashed;
    width: fit-content;
    margin: auto;
}
.table-content p{
    color: #fff;
}
/* form */


.data-list label{
    color: #fff;
}
.data-list{
    width: 80%;
    text-align: start;
    margin: auto;
    padding: 10px 0;
}

.data-list input,
textarea{
    border-radius: 5px;
    line-height: 1.5em;
}
textarea{
    width: 80%;
    max-width: 600px;
}

.data-list.contact-btn{
    display: flex;
    justify-content: center;
}

input[type="submit"],
input[type="reset"]{
    margin: 5px 30px;
    color: #fff;
    background-color: #0EA5A1;
    border: 1px solid #0b7673;
    padding: 5px 20px;
    cursor: pointer;
}
.data-list text:focus{
    outline: #293ea8;
}

@media screen and (min-width: 768px){
    .form-content{
        display: flex;
        flex-wrap: wrap;
    }
    .data-list{
        width: calc(50% - 40px);
    }
    .data-list:nth-child(1),
    .data-list:nth-child(3){
        text-align: end;
        margin-right: 20px;
    }
    .data-list:nth-child(2),
    .data-list:nth-child(4){
        text-align: start;
        margin-left: 10px;
    }
    .advice,
    .contact-btn{
        width: 100%;
        /* justify-content: center; */
        text-align: center;
    }
}

/* 送出後燈箱 */
/* .contact-table .container{
    position: relative;
} */
/* .black-box{
    position: fixed;
    text-align: center;
    background-color: #00000090;
    width: 100%;
    height: 700px;
    top: 0;            
    bottom: 0;
    margin: auto;     
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 1300px;
}
.black-box p{
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
}
.black-box-txt{
    margin-top: 200px;
}
.black-box-txt a{
    color: #fff;
    margin: 30px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #0EA5A1;
    border-radius: 5px;
} */