/* ------------ *\
    banner
\* ------------ */
.p-contact-banner{
    --mask:
      radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
      radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
	background-image: url(../imgs/contact/contact_1.jpg);
	height: 300px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    background-position:center center;
}
.p-contact-banner-txt{
    position: absolute;
    bottom: 5%;
    right: 1% ;
    background-color: #635e5e87;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
    animation: contact-anime;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; 
}
@keyframes contact-anime {
    0%{transform: translateY(-30px);}
    25%{transform: translateX(-10px)}
    50%{transform: translateY(-80px);}
    100%{transform: translateX(-80px)}

}
.p-contact-banner-txt p{
    color: #fff;
}
@media screen and (min-width: 550px){
    .p-contact-banner{
        height: 500px;
    }
}
@media screen and (min-width: 768px){
	.p-contact-banner-txt p{font-size: 24px;}
    .p-contact-banner-txt{
        line-height: 2em;
        right: 3% ;
    }
}
@media screen and (min-width: 1024px){
    .p-contact-banner{
        height: 600px;
    }
	.p-contact-banner-txt p{font-size: 24px;}
    .p-contact-banner-txt{
        line-height: 2em;
        right: 15% ;
    }
}
@media screen and (min-width: 1200px){
	.p-contact-banner-txt p{font-size: 28px;}
    .p-contact-banner-txt{
        line-height: 2em;
        right: 5% ;
    }
}


/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}

/* ------------ *\
    main
\* ------------ */
/* 地圖與地址主要設定在index css */
.address h2{
    margin-top: 100px;
}
.map{
    margin-top: 50px;
}
.address-txt {
    margin: auto;
}
.address-txt h3{
    font-weight: 600;
    margin-top: 40px;
}
/* 回饋表單 */
.contact-table h2{
    margin-top: 100px;
}
.table-content{
    background-color: #3c56a6;
    border-radius: 10px;
    padding-bottom: 5%;
    margin: 50px 0;
}
.table-content .logo-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-content .logo-pic img{
    width: 180px;
}
.table-content h3{
    color: #fff;
    text-align: center;
    padding: 3% 1%;
    border-bottom: #fff 1px dashed;
    width: fit-content;
    margin: auto;
}
.table-content p{
    color: #fff;
}
/* form */
.form-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-content input[type="text"],
.form-content input[type="tel"],
.form-content input[type="email"]{
    border-radius: 5px;
    height: 2em;
    border: none;
    outline: none;
}
.form-content input{
    margin:1% 2%;
    color: #aaa;
}
.c-phone_email,
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.come_back-class,
.custumer_name{
    margin:1% 2%;
    margin-left: -185px;
}
.form-content input[type="submit"],
.form-content input[type="reset"]{
    border-radius: 5px;
    height: 2em;
    color: #3c56a6;
    padding: 1%;
    line-height: 0.5em;
    border: none;
    outline: none;
    margin-top: 3%;
}
.form-content textarea{
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 1%;
}
@media screen and (min-width: 1024px){
    .c-phone_email{
    padding-left: 6px;}
}

