/* ------------ *\
    banner
\* ------------ */
.page-knowledge-banner{
	background-image: url(../imgs/knowledge/knowledge_banner.jpg);
	height: 300px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    background-position:center center;
}
.page-knowledge-banner-txt{
    position: absolute;
    bottom: 5%;
    right: 1% ;
    background-color: #635e5e87;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
}
.page-knowledge-banner-txt p{
    color: #fff;
}

@media screen and (min-width: 550px){
    .page-knowledge-banner{
        height: 400px;
    }
}
@media screen and (min-width: 600px){
    .page-knowledge-banner{
        height: 450px;
    }
}

@media screen and (min-width: 650px){
    .page-knowledge-banner{
        height: 500px;
    }
}
@media screen and (min-width: 768px){
    .page-knowledge-banner{
        height: 550px;
    }
	.page-knowledge-banner-txt p{font-size: 24px;}
    .page-knowledge-banner-txt{
        line-height: 2em;
        right: 3% ;
    }
}
@media screen and (min-width: 1024px){
	.page-knowledge-banner-txt p{font-size: 24px;}
    .page-knowledge-banner-txt{
        line-height: 2em;
        right: 15% ;
    }
}
@media screen and (min-width: 1200px){
	.page-knowledge-banner-txt p{font-size: 28px;}
    .page-knowledge-banner-txt{
        line-height: 2em;
        right: 5% ;
    }
}
/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}
/* ------------ *\
       main
\* ------------ */
.part-judge .site{
    display: none;/* 768出現*/ 
}
.judge{
    position: relative;
    margin: 5% 0;
    width: 80%;
    margin: auto;
}
/* pic */
.judue-pic{
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
}
.judue-pic img{
    width: 100%;
}
/* txt */
.judge-list>p{
    text-align: center;
    font-weight: 600;
}
.judge-list h2{
    padding: 1% 0;
    border-top:1px dashed #2b3d74;
    border-bottom:1px dashed #2b3d74;
    margin-top: 0;
}
.judge-txt{
    border-radius: 5px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body .judge-txt {
    background-color: #3952A5;
}
.gill .judge-txt {
    background-color: #FC6B6B;
}
.eye .judge-txt {
    background-color: #0EA5A1;
}
.judge-txt h3{
    font-weight: 600;
    margin: 2% 0;
    padding-top: 2%;
}
.judge-txt h3,
.judge-txt p{
    color: #fff;
    text-align: center;
    text-indent: 2em;
    padding: 0.5% 0;
}
/* --------側邊欄--------------*/
.part-judge .site{
	background-color: #3c56a6;
	border-radius: 10px;
	opacity: 95%;
	height: 600px;
	margin-top: 30px;
}
.part-judge .site h3{
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	margin-top: 20px;
	text-align: center;
	padding: 10px 0;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
}
.part-judge .site a{
	display: block;
	color: #fff;
	margin-top: 10px;
	padding: 6px 0;
	text-align: center;
	font-size: 18px;
}
.part-judge .site a:hover{
	background-color: #2b3d74;
}

@media screen and (min-width: 768px){
    .part-judge .site{
        display: block;
    }
    .part-judge,.judge{
        display: flex;
    }
    .judge{
        align-items: center;
    }
    .judue-pic{
        width: 40%;
    }
    .judge-txt{
        width: 54%;
        margin: auto;
    }
    .part-judge .site{
        width: 14%;
        margin: 0 3%;
    }
    .judge-list{
        width: 80%;
    }
    .judge:nth-child(even){
        flex-direction: row-reverse;
    }
    
}

/* ------------ *\
    season-table
\* ------------ */
.fish-season-table h2{
    padding: 1% 0;
    border-top:1px dashed #2b3d74;
    border-bottom:1px dashed #2b3d74;
}
.fish-season-table p{
    text-align: center;
    color: #FC6B6B;
    margin-top: 5px;
}
.fish-season-table .demo{
    text-align: end;
    color: #000;
}

/*表格樣式 */
table{
	width: 100%;
	border-collapse: collapse;
}
table th, 
table td{
	line-height: 24px;
	padding: 12px;
	text-align: left;
    text-align: center;
    vertical-align: middle;
}
table tr{
	transition: all 0.2s;
}
table tr:nth-child(even){
	background-color: #fefbf5;
}
table tr:hover{
	background-color: #d2dbf9;
}
table th{
	background-color: #3952A5;
	color: #fff;
}
/* 圓角設定maru */
.maru-lu{
    border-radius:5px 0 0 0;
}
.maru-ru{
    border-radius:0 5px 0 0;
}
.maru-ld{
    border-radius:0 0 5px 0;
}
.maru-rd{
    border-radius:0 0 0 5px ;
}
 

/*魚種設定 */
.kannbati td:nth-child(3),
.kannbati td:nth-child(4),
.kannbati td:nth-child(5),
.kannbati td:nth-child(6),
.kannbati td:nth-child(7),
.kannbati td:nth-child(8),
.kannbati td:nth-child(9),
.kannbati td:nth-child(10),
.kannbati td:nth-child(11),
.kannbati td:nth-child(12),
.kannbati td:nth-child(13),
.kannbati td:nth-child(14){
    background-color: #f8e5c487;
    /* opacity: .5; */
    padding: 5px 0;
}

.hime td:nth-child(4),
.hime td:nth-child(5),
.hime td:nth-child(6),
.hime td:nth-child(7),
.hime td:nth-child(8),
.hime td:nth-child(9),
.hime td:nth-child(10),
.hime td:nth-child(11),
.hime td:nth-child(12),
.hime td:nth-child(13),
.hime td:nth-child(14){
    background-color: #fddea587;
}

.aji td:nth-child(3),
.aji td:nth-child(4),
.aji td:nth-child(5),
.aji td:nth-child(6),
.aji td:nth-child(7),
.aji td:nth-child(8),
.aji td:nth-child(9),
.aji td:nth-child(10),
.aji td:nth-child(11),
.aji td:nth-child(12),
.aji td:nth-child(13),
.aji td:nth-child(14){
    background-color: #f8e5c487;
}

.tajio td:nth-child(3),
.tajio td:nth-child(4),
.tajio td:nth-child(5),
.tajio td:nth-child(6),
.tajio td:nth-child(7),
.tajio td:nth-child(8),
.tajio td:nth-child(9),
.tajio td:nth-child(10),
.tajio td:nth-child(11),
.tajio td:nth-child(12),
.tajio td:nth-child(13),
.tajio td:nth-child(14){
    background-color: #fddea587;
}

.tajio-y td:nth-child(3),
.tajio-y td:nth-child(4),
.tajio-y td:nth-child(5),
.tajio-y td:nth-child(6),
.tajio-y td:nth-child(7),
.tajio-y td:nth-child(8),
.tajio-y td:nth-child(9),
.tajio-y td:nth-child(10),
.tajio-y td:nth-child(11),
.tajio-y td:nth-child(12),
.tajio-y td:nth-child(13),
.tajio-y td:nth-child(14){
    background-color: #f8e5c487;
}

.isaki td:nth-child(6),
.isaki td:nth-child(7),
.isaki td:nth-child(8),
.isaki td:nth-child(9),
.isaki td:nth-child(10),
.isaki td:nth-child(11),
.isaki td:nth-child(12){
    background-color: #fddea587;
}

.kamasu td:nth-child(3),
.kamasu td:nth-child(4),
.kamasu td:nth-child(7),
.kamasu td:nth-child(8),
.kamasu td:nth-child(9),
.kamasu td:nth-child(12),
.kamasu td:nth-child(13),
.kamasu td:nth-child(14){
    background-color: #f8e5c487;
}

.tobio td:nth-child(5),
.tobio td:nth-child(6),
.tobio td:nth-child(7),
.tobio td:nth-child(8),
.tobio td:nth-child(9){
    background-color: #fddea587;
}

.mahimahi td:nth-child(3),
.mahimahi td:nth-child(4),
.mahimahi td:nth-child(5),
.mahimahi td:nth-child(6),
.mahimahi td:nth-child(7),
.mahimahi td:nth-child(8),
.mahimahi td:nth-child(9),
.mahimahi td:nth-child(10),
.mahimahi td:nth-child(11),
.mahimahi td:nth-child(12),
.mahimahi td:nth-child(13),
.mahimahi td:nth-child(14){
    background-color: #f8e5c487;
}

.haki td:nth-child(3),
.haki td:nth-child(4),
.haki td:nth-child(10),
.haki td:nth-child(11),
.haki td:nth-child(12),
.haki td:nth-child(13),
.haki td:nth-child(14){
    background-color: #fddea587;
}


/* ------------- *\
 fish-season-party   
\* ------------- */
/* .fish-season-party *{outline: 1px solid red;} */
.fish-season-party{
    margin-bottom: 40px;
}
.season-box{
    position: relative;
}
.spring-box,
.summer-box,
.fall-box,
.winter-box{
    position: relative;
    left: 15%;
}
.season-txt{
    position: absolute;
    font-size: 60px;
    z-index: 2;
}

.fish-season-party h2{
    padding: 1% 0;
    border-top:1px dashed #2b3d74;
    border-bottom:1px dashed #2b3d74;
    margin:2% 0;
}
.spring{
    background-image: url(../imgs/knowledge/season_bg_sprig.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-bottom: 40px;
}
.summer{
    background-image: url(../imgs/knowledge/season_bg_summer.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-bottom: 40px;

}
.fall{
    background-image: url(../imgs/knowledge/season_bg_fall.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-bottom: 40px;

}
.winter{
    background-image: url(../imgs/knowledge/season_bg_winter.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-bottom: 40px;

}
.season-pic img{
    position: absolute;
}
/* 春 */
.season-pic img[alt="白帶"]{
    width: 45%;
    left: 10%;
    top: 0%;
}
.season-pic img[alt="白帶"]::after{
    content: '白帶';
    background-color: #000;
    width: 100%;
    height: 100px;
    top: -50%;
    left: 50%;
    z-index: 50;
    position: absolute;
}

.season-pic img[alt="飛魚"]{
    width: 25%;
    left: 3%;
    top: 20%;
}
.season-pic img[alt="竹夾"]{
    width: 20%;
    left: 40%;
    top: 30%;
}

/* 夏 */
.season-pic img[alt="剝皮"]{
    width: 20%;
    left: 5%;
    top: 15%;
}
.season-pic img[alt="巴鰹"]{
    width: 25%;
    left: 25%;
    top: -15%;
}
.season-pic img[alt="鬼頭刀"]{
    width: 25%;
    left: 40%;
    top: 30%;
}

/* 秋 */
.season-pic img[alt="齒鰹"]{
    width: 18%;
    left: 5%;
    top: 30%;
}
.season-pic img[alt="紅甘"]{
    width: 25%;
    left: 15%;
}
.season-pic img[alt="圓花鰹"]{
    width: 20%;
    left: 33%;
    top: 55%;
}
.season-pic img[alt="油帶"]{
    width: 30%;
    left: 40%;
    top: 15%;
}
/* 冬 */
.season-pic img[alt="正鰹"]{
    width: 20%;
    left: 5%;
    top: 40%;
}
.season-pic img[alt="剝皮魚"]{
    width: 20%;
    left: 20%;
    top: -5%;
}
.season-pic img[alt="尖梭"]{
    width: 25%;
    left: 45%;
    top: -10%;
}
.season-pic img[alt="鯖魚"]{
    width: 25%;
    left: 35%;
    top: 60%;
}

@media screen and (max-width:767px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1200px){

}



