/* ------------ *\
    banner
\* ------------ */
.p-member-banner{
    --mask:
    radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);
	background-image: url(../imgs/member_center/center.png);
	height: 300px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    background-position:center center;
}
.p-member-banner .dressing-box{
    width: 100%;
}
.p-member-banner-txt{
    position: absolute;
    bottom: 5%;
    right: 1% ;
    background-color: #b9b9b987;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
}
.p-member-banner-txt p{
    color: #fff;
}
.id-pic{
    width: 150px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
}
.member-personal .id p{
    position: absolute;
    left: 48%;
    top: 65%;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.member-personal .edit p{
    position: absolute;
    left: 52%;
    top: 58%;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 6px;
    color: #100;
    background-color: #aaa;
    opacity: .9;
    border-radius: 10px;
}
.id-pic img{
    width: 100%;
}
@media screen and (min-width: 550px){
    .p-member-banner{
        height: 400px;
    }
}
@media screen and (min-width: 600px){
    .p-member-banner{
        height: 450px;
    }
}
@media screen and (min-width: 650px){
    .p-member-banner{
        height: 500px;
    }
}
@media screen and (min-width: 768px){
    .p-member-banner{
        height: 550px;
    }
	.p-member-banner-txt p{font-size: 24px;}
    .p-member-banner-txt{
        line-height: 2em;
        right: 3% ;
    }
}
@media screen and (min-width: 1024px){
	.p-member-banner-txt p{font-size: 24px;}
    .p-member-banner-txt{
        line-height: 2em;
        right: 15% ;
    }
}
@media screen and (min-width: 1200px){
	.p-member-banner-txt p{font-size: 28px;}
    .p-member-banner-txt{
        line-height: 2em;
        right: 5% ;
    }
}
/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}
/* ------------ *\
    main
\* ------------ */
.member-content *{
    /* outline: 1px solid red; */
}
.member-content{
    display: flex;
}

.personal-data{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.data-table input{
    display: block;
    border:none;
    border-bottom: 1px solid #aaa;
    width: 80%;
    margin: 2% 0;
    margin: auto;
    line-height: 1.5em;
    border-radius: 5px;
}
.data-table input:focus{
    outline:1px solid #aaa;
}
.data-table{
    background-color: #eee;
    padding:0 10px 20px 10px;
    border-radius: 10px;
    margin: 20px 0;
}
.space{
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
.space.reset{
    border-bottom: none;
}
.person-data .btn{
display: flex;
}
.member-content{
    margin-bottom: 50px;
}

/* 側邊欄 */
.data-list{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #3c56a6;
    border-radius: 10px;
}

.data-list a{
    color: #fff;
    text-align: center;
    margin: 5% 1%;
    padding: 7% 0;
}
.data-list a:hover{
    background-color: #2f427c;
}
/* ------------ *\
    文字RWD 
\* ------------ */
@media screen and (max-width:767px){
    .data-table label,
    .data-table input,
    .data-list a{font-size: 15px;}
    .data-list{height: 550px;}
}
@media screen and (min-width: 768px){
    .data-table label,
    .data-table input,
    .data-list a{font-size: 24px;}
    .data-listt{height: 700px;}
    .reset-btn{font-size: 20px;}
}
@media screen and (min-width: 1024px){
    .data-table label,
    .data-table input,
    .data-list a{font-size: 24px;}
}
@media screen and (min-width: 1200px){
    .data-table label,
    .data-table input,
    .data-list a{font-size: 24px;}
}

/* 文字 */
.personal-data h2{
    padding: 10px 0;
    border-top: 1px dashed #2f427c;
    border-bottom:1px dashed #2f427c ;
}
.reset{
    text-align: center;
    margin-top: 30px;
}
.reset-btn{
    display: inline-block;
    background-color: #0EA5A1;
    color: #fff;
    padding: 3% 6%;
    border-radius: 10px;
}
.reset-btn:hover{
    background-color: #0d8c88;
    transition: 0.5s;
}
.space p{
    text-align: center;
}
.data-table span{
    display: block;
    text-align: end;
    color: #3c56a6;
}