/* ---------- *\
    公用設定
\* ---------- */
h1{display: none;}
a{text-decoration: none;}
h2{
    color: #3c56a6;
    margin: 30px 0;
    text-align: center;
    font-weight: 500;
}
h3{
    color: #3c56a6;
    /* font-weight: 300; */
}
p{color: #3c56a6;}
body{
    background-color: #F5F4F1;
}

/* 字型 */
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.dressing-box{
    width: 100%;
}
.dressing-box img{
    width: 100%;
}
.nami-up,.nami-down{
    width: 100%;
}
/* ------------ *\
    文字RWD 
\* ------------ */
@media screen and (max-width:767px){
    h2{font-size: 28px;
    }
    h3{font-size: 20px;}
    h4
    p{font-size: 15px;}
}
@media screen and (min-width: 768px){
    h2{font-size: 38px;
    }
    h3{font-size: 32px;}
    h4
    p{font-size: 24px;}
}
@media screen and (min-width: 1024px){
    h2{font-size: 38px;
    }
    h3{font-size: 26px;}
    h4
    p{font-size: 24px;}
}
@media screen and (min-width: 1200px){
    h2{font-size: 38px;
    }
    h3{font-size: 26px;}
    h4
    p{font-size: 24px;}
}
/* ---------- *\
    header
\* ---------- */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
}
header *{
 /* outline: 1px solid red;    */
}
.logo{
    height: 60px;
    margin: 3% 0 0 5%;
}
.logo img{
    vertical-align: top;
    width: 100%;
    height: 100%;
} 
header a{
    font-weight: 400;
}
#menu-switch{
    display: none;
}
.icon .search{
    position: fixed;
    top: 70px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 3;
}
.icon .search img{
    width: 100%;
}
.desktop{
    display: none;
}
@media screen and (max-width:767px) {
    .icon-box{
        display: flex;
        justify-content: end;
        position: relative;
    }
    .hb{
        width: 35px;
        height: 38px;
        background-color: #3c56a6;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        border-radius: 5px;
        right: 5%;
        top: 3%;
        z-index: 3;
    }
    .hb span{
        width: 28px;
        height: 2px;
        background-color: #fff;
    }
    nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        left: -100%;
        top: 100%;
        opacity: 0;
        /* transition: opacity 0s 0s,
                    left    0s 0s; */
    }
    #menu-switch:checked + header nav{
        /* display: block; */
        left: 0;
        opacity: 1;
        /* transition: opacity 0s; */
    }
    #menu-switch:checked + header .hb span:nth-child(2){
        display: none;
    }
    #menu-switch:checked + header .hb span:nth-child(1){
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(45deg);
    }
    #menu-switch:checked + header .hb span:nth-child(3){
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(-45deg);
    }
    nav ul{
        position: fixed;
        background-color: #3c56a6;
        z-index: 3;
        border-radius: 0 5% 5% 0;
        width: 25%;
        opacity: 95%;
    }
    nav li{padding: 5px 0;}
    nav li{border-bottom: 1px #fff dashed;}
    ul .member{text-align: center;}
    nav a{
        display: block;
        padding: 7% 10%;
        color: #fff;
    }
    nav a:hover{
        background-color: #2b3f7c;
    }
        /* 第二層選單 */
        .nav-next{
            display: none;
            position: absolute;
            left: 100%;
            width: 70%;
            top: 1%;
            z-index: 4;
            text-align: center;
            background-color: #2b3f7c;
        }
        .nav-next a{
            display: block;
            padding: 10px 0;
            color: #fff;
            font-size: 15px;
        }
        header nav li{
            position: relative;
        }
        header nav li:hover {
            background-color: rgba(0,0,0,.3);
        }
        header nav li:hover >ul{
            display: block;
        }
}

@media screen and (min-width: 768px){
    .logo{
        height: 70px;
        margin-top: 15px;
    }
    .hb { display: none;}
    .icon .search{
        height: 45px;
        height: 45px;
    }
    nav>ul{
        display: flex;
        margin-top: 15px; /* 應該有更好的做法 */
        align-items: center;
        justify-content: space-around;
        width: 600px;/* 應該有更好的做法 */
        border-top: 1px dashed #3c56a6;
        border-bottom: 1px dashed #3c56a6;
        padding: 15px 0;
        
    }
    nav a{
        color: #3c56a6;
        font-size: 24px;
    }
    header nav a:hover{
        /* color: #fff; */
        border-bottom: #3c56a6 1px solid;
    }
    .desktop{
        display: block;
    }
    /* 第二層選單 */
    .nav-next{
        display: none;
        position: absolute;
        width: 100%;
        top: 120%;
        z-index: 4;
        text-align: center;
        border-radius: 0 0 5px 5px ;
        background-color: #32498f;
        opacity: .9;
    }
    .nav-next a{
        display: block;
        padding: 10px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }
    header nav li{
        position: relative;
    }
    header nav li:hover {
        background-color: rgba(19, 19, 19, 0.1);
    }
    header nav li:hover >ul{
        display: block;
    }
    .member.phone{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    nav a{font-size: 26px;}
    nav ul{ width: 750px;}
    .logo{height: 80px;
        margin-left: 3%;
    }
    .icon .search{
        height: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1200px){
    nav ul{ width: 1000px;}
    .logo{margin-left: 7%;}
    .icon .search{
        right: 35px;
    }
    .icon .search{
        height: 60px;
        height: 60px;
    }
}

/* --------------- *\
    beginner banner
\* --------------- */
.banner-imagery {
    --mask:
      radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 51% repeat-x,
      radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px calc(51% - 50px) repeat-x,
      radial-gradient(111.80px at 50% calc(100% - 150.00px),#000 99%,#0000 101%) calc(50% - 100px) 100%/200px 51% repeat-x,
      radial-gradient(111.80px at 50% calc(100% + 100.00px),#0000 99%,#000 101%) 50% calc(100% - 50px)/200px calc(51% - 50px) repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);            
            /* ../imgs/index/banner/1_imagery.jpg */
    background-image: url(../imgs/index/banner/2_imagery_table.jpg);
    height: 450px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    margin: auto;
    background-position:center center;
  }

.imagery-txt p{
    color: #fff;
    font-weight: 300;
    margin: 5px 0;
}
.imagery-txt{
    position: absolute;
    bottom: 20%;
    right: 1% ;
    background-color: #9f9f9f87;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
}
.imagery-txt P:nth-child(1)::before{
    content: '● ';
    color: #FF5959;
    font-size: 20px;
}
.imagery-txt P:nth-child(2)::before{
    content: '● ';
    color: #0EA5A1;
    font-size: 20px;
}
.imagery-txt P:nth-child(3)::before{
    content: '● ';
    color: #3c56a6;
    font-size: 20px;
}
@media screen and (min-width: 768px){
    .imagery-txt p{font-size: 24px;}
    .imagery-txt{
        line-height: 2em;
        right: 3% ;
    }
}

@media screen and (min-width: 1024px){
    .imagery-txt p{font-size: 24px;}
    .imagery-txt{
        line-height: 2em;
        bottom: 15% ;
    }    
}

@media screen and (min-width: 1200px){
    .imagery-txt p{font-size: 28px;}
    .imagery-txt{
        line-height: 2em;
        bottom: 15% ;
        right: 1% ;
    }    
}
/* ---------- *\
    news
\* ---------- */
.news-box *{
    margin-bottom: 20px;
}
.news-list{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.news{
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 1%;
    width: 30%;
    display: none;
    box-shadow: 3px 3px 5px #d3d6df;
}
.news img{
    width: 100%;
    border-radius: 5px;
}
.news h3{
    text-align: center;
    color: #32498f;
}
.news p{
    color: rgb(78, 78, 78);
    text-align: center;
    padding: 0 1%;
}
.news a{
    display: block;
    color: #0f1b3d;
    text-align: end;
    padding: 0 1%;
}
.news a:hover{
    color: #FF5959;
    font-weight: 500;
}

@media screen and (max-width:767px){
    .news-list .news:nth-child(2){display: block;}
    .news{width: 60%;}
}
@media screen and (min-width: 768px){
    .news-list .news:nth-child(2){display: block;}
    .news{width: 70%;}
}

@media screen and (min-width: 1024px){
    .news-list>.news{display: block;}
    .news-box{
        margin: 55px 0;
    }
}
/* -------------- *\
    shopping banner 
\* -------------- */
.banner-shopping{
    --mask:
      radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
      radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    background-image: url(../imgs/index/banner/2_imagery_table.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position:center center;
    max-width: 1440px;
    margin: auto;
  }

.banner-shopping p{
    color: #fff;
    font-size: 30px;
    width: fit-content;
    padding: 2%;
    border-radius: 5px;
    background-color: #9f9f9f87;
    position: absolute;    
    top: 20%;
    left: 3%;
}
.banner-shopping .btn a{
    color: #fff;
    display: inline-block;
    background-color: #FF5959;
    position: absolute;
    font-size: 24px;
    padding: 1% 3%;
    transform: rotate(-10deg);
    border-radius: 5px;
}
.banner-shopping .btn a:hover{
    color: #eee;
}
.banner-shopping .btn .recipe{
    bottom: 20%;
    right: 5%;
}
.banner-shopping .btn .shop{
    bottom: 8%;
    right: 5%;
}
/* ------------- *\
   beliefs start 
\* ------------- */
.beliefs *{
    width: 100%;
}
.beliefs{
    margin-top: 50px;
    /* background-image: url(https://cdn.shopify.com/s/files/1/0606/6932/9625/t/1/assets/bg_bottom01.png) ;
    background-position: center top;
    background-repeat: no-repeat; */

}
.belief-pic{
    background-image: url(../imgs/index/seafood_guide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    border-radius: 5px;
}
.belief-pic-txt{
    outline: 1px solid #fff;
    width: fit-content;
}
.belief-pic-txt p{
    color: #fff;
    background-color: #6f6c6c87;
    width: 100%;
    margin: 0 10px;   
}
.belief-txt{
    line-height: 1.5em;
    text-indent: 2em;
}
.belief-list{
    display: flex;
    justify-content: center;
}
.belief{
    width: 30%;
    margin: 5% 1%;
}
.belief-img{
    width: 100%;
    /* height: 120px; */
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/10;
}
.belief h3{
    text-align: center;
    margin: 10px 0;
}

@media screen and (max-width:767px){
    .belief-pic{
        width: 70%;
        height: 300px;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px){
    .container.beliefs{
        display: flex;
        justify-content: center;
    }
    .belief-pic{
        width: 40%;
        height: 290px;
        margin: 20px;
    }
    .belief-txt{
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .belief-txt p:nth-child(1){
        border-top: 1px solid #0f1b3d;
        padding-top: 20px;
    }
    .belief-txt p:nth-child(2){
        border-bottom: 1px solid #0f1b3d;
        padding-bottom: 20px;
    }
    .belief-img{
        height: 200px;
    }
    .beliefs{
        margin-top: 100px;
    }
}

/* ---------- *\
   product
\* ---------- */
.product *{
    margin-bottom: 50px;
}
.product{
    /* --mask:
    radial-gradient(78.26px at 105.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 70px)/100% 140px,
    radial-gradient(78.26px at -70px 50%,#0000 99%,#000 101%) 35px 50%/100% 140px repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask); */
    background-color: rgb(216, 212, 212);
}
.product h3{
    padding-left: 1em;
    color: #3c56a6;
    margin-top: -40px;
}
.product .container>p{
    text-align: center;
    padding-left: 1em;
    color: #0f1b3d;
    margin-top: -40px;
}
.product p{
    padding-left: 1em;
    color: #aaa;
    margin-top: -40px;
}
.product-list{
    display: flex;
    justify-content: center;
}
.products{
    margin: 0 1%;
    display: none;
    border: 1px solid #aaa;
    box-shadow: 3px 3px 5px #d3d6df;
    height:360px;
    border-radius: 5px;
}
.product-pic{
    height: 195px;
}
.product-price p{
    color: #aaa;
}
.product-price{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.product-price p:nth-child(1){
    color: #FF5959;
    font-size: 24px;
    padding-top: 40px;
}
.product-price a{
    background-color: #F39800;
    color: #fff;
    padding: 2% 4%;
    border-radius: 5px;
}
.product-price a:hover{
    color: #eee;
}
.btn-page{
    display: flex;
    justify-content: center;
}
.btn-page a{
    color: #fff;
    background-color: #3c56a6;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin: 0 1%;
}
.btn-page a:hover{
    background-color: #0f1b3d;
}

@media screen and (max-width:767px){
    .product-list .products:nth-child(1){
        display: block;
    }
}
@media screen and (min-width: 768px){
    .product-list .products:nth-child(1),
    .product-list .products:nth-child(2){
        display: block;
    }
}

@media screen and (min-width: 1024px){
    .product-list>.products{
        display: block;
    }
}

/* ------------- *\
    recipe banner 
\* ------------- */
.banner-recipe{
    margin-top: 80px;
    height: 400px;
    background-image: url(../imgs/index/recipe.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-position:center center;
    max-width: 1440px;
    margin: auto;
}
.banner-recipe p{
    color: #fff;
    font-size: 30px;
    padding: 2%;
    border-radius: 5px;
    background-color: #9f9f9f87;
    top: 20%;
    left: 3%;
    width: fit-content;
    position: absolute;
}
.banner-recipe a{
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    background-color: #FF5959;
    font-size: 24px;
    padding: 1% 3%;
    transform: rotate(-10deg);
    border-radius: 5px;
    position: absolute;
    right: 10%;
    bottom: 10%;
    background-size: cover;
}

.banner-recipe a:hover{
    color: #eee;
}
/* ---------- *\
   knowledge 
\* ---------- */
.fish-list{
    display: grid;
    grid-template-rows:17% 10.638% 29.787% 42.55% ;
    grid-template-columns: 22.727% 13.636% 13.636% 13.636% 13.636% 22.727%;
    justify-content: center;
}
.fish-list.fish{
    width: 100%;
    height: 100%;
}

.fish:nth-child(1){
    grid-column: 3/5 ;
    grid-row: 1/2 ;
    position: relative;
    filter: brightness(0);
    transition: 0.5s;
}
.fish:nth-child(1):hover,
.fish:nth-child(2):hover,
.fish:nth-child(3):hover,
.fish:nth-child(4):hover,
.fish:nth-child(5):hover,
.fish:nth-child(6):hover,
.fish:nth-child(7):hover{
    filter: brightness(1);
    transition: 0.3s;
}
.fish:nth-child(1)::after{
    position: absolute;
    content: '帶魚';
    top: 0;
    left: 45%;
}

.fish:nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    filter: brightness(0);
    transition: 0.5s;
}
.fish:nth-child(2)::after{
    position: absolute;
    content: '竹夾';
    top: -5px;
    left: 30%;
}

.fish:nth-child(3){
    grid-column: 5/6;
    grid-row: 2/3;
    position: relative;
    filter: brightness(0);
    transition: 1s;
}
.fish:nth-child(3)::after{
    position: absolute;
    content: '飛魚';
    top: 10px;
    left: 30%;
}

.fish:nth-child(4){
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    filter: brightness(0);
    transition: 1s;
}
.fish:nth-child(4)::after{
    position: absolute;
    content: '剝皮魚';
    top: 30px;
    left: 60%;
}

.fish:nth-child(5){
    grid-column: 6/7;
    grid-row: 3/4;
    position: relative;
    filter: brightness(0);
    transition: 1s;
}
.fish:nth-child(5)::after{
    position: absolute;
    content: '尖梭';
    top: 15px;
    left: 25%;
}

.fish:nth-child(6){
    grid-column: 1/4;
    grid-row: 4/5;
    position: relative;
    filter: brightness(0);
    transition: 1s;
}
.fish:nth-child(6)::after{
    position: absolute;
    content: '紅甘';
    top: 3px;
    left: 70%;
}

.fish:nth-child(7){
    grid-column: 4/6;
    grid-row: 4/5;
    position: relative;
    filter: brightness(0);
    transition: 1s;
}
.fish:nth-child(7)::after{
    position: absolute;
    content: '鬼頭刀';
    top: 20px;
    left: 30%;
}

.fish:nth-child(7) img{
    position: absolute;
    top: 0;
}


.fish-list{
    position: relative;
}
.knowledge .btn{
    display: block;
    color: #fff;
    padding: 10px 30px;
    font-size: 24px;
    right: 50px;
    bottom: 50px;
    background-color: #FF5959;
    /* transform: rotate(-8deg); */
    width: fit-content;
    right: 0;
    bottom: 200px;
    position: absolute;
    align-self: flex-start;
    border-radius: 5px;
}
.knowledge .btn:hover{
    color: #eee;
}

@media screen and (max-width:767px){
    .fish:nth-child(7) img{display: none;}
    .fish:nth-child(7)::after{display: none;}
}

@media screen and (min-width: 670px){
    .fish:nth-child(7) img{display: block;} 
    .fish:nth-child(4) img{
        position: absolute;
        left: 40%;
    }
    .fish:nth-child(6) img{
        position: absolute;
        right: 0;
    }
    .knowledge .btn{
        position: static;
        margin-top: -10px;
        margin-left: -70px; 
        grid-column: 6/7;
        grid-row: 4/5;    
    }
}

/* ---------- *\
    C&P 
\* ---------- */
.container.certification{
    display: flex;
}
.cp-mode{
    width: 50%;
}
.cp-mode .list-row{
    width: 100%;
    display: flex;
    margin: 20px 0px;
}
.certification-list{
    border-right: 1px solid #3c56a6;
}
.certification-list .list-row:nth-child(1){
    justify-content: center;
}
.certification-list .list-row:nth-child(2){
    justify-content: space-evenly;
}
.partner-list .list-row{
    justify-content: center;
}
.partner .pic{
    margin: 20px;
}
.partner .pic img:nth-child(1){
    width: 80%;
}
.cp-mode h2{
    text-align: center;
    margin: 70px 0;
}
.cp-mode .pic{
    width: 150px;
}

/* ---------- *\
   contact 
\* ---------- */
.address-information{
    width: 100%;
    margin-bottom: 50px;
}
.address .map{
    width: 80%;
    padding-left: 8%;
}
.address .map img{
    width: 100%;
    border-radius: 25px;
}
.address-txt{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.address-txt h3{
    text-align: center;
    margin: 10px 0;
}
.address-txt p{
    margin: 10px 1%;
}
.map{
    aspect-ratio: 600/450;
}

.map iframe{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

@media screen and (min-width: 768px){
    .address-information{
    display: flex;
    justify-content: center;
    }
}
/* ---------- *\
    footer
\* ---------- */
footer{
    --mask:
    radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    /* background-image: url(../imgs/index/footer.png); */
    background-color: #164684;
    background-size: cover;
    width: 100%;
    position: relative;
    padding-top: 60px;
}
.footer .row{
    display: flex;
    justify-content: center;
}
.footer .f-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
}
.footer .social_media-list{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.social_media-list li{
    margin: 0 5%;
}
.container.footer a{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
}
.container.footer a:hover{
    font-weight: 600;
    outline: 1px solid #fff;
    border-radius: 10px;
    background-color: #00000020;
}
.footer .f-product a:nth-child(1),
.footer .f-knowledge a:nth-child(1),
.footer .f-recipe a:nth-child(1),
.footer .f-contact a:nth-child(1){
    font-size: 24px;
    padding: 10px 40px;
    margin: 5px 0;
    border-bottom: 2px solid #fff;
}
footer .social_media{
    width: 30px;
    height: 30px;
}
.copyright p{
    line-height: 1.5rem;
    text-align: center;
    color: rgb(207, 208, 209);
}
.copyright p:last-child{
    color: #fff;
}
.copyright{
    margin-top: 20px;
    background-color: #242424;
    padding-top: 10px;
}


@media screen and (min-width: 1024px){
    .social_media-list li{
    position: absolute;
    flex-direction: column;
    }
    .social_media:nth-child(1){
        right: 4%;
        bottom: 78%;
    }
    .social_media:nth-child(2){
        right: 2%;
        bottom: 60%;
    }
    .social_media:nth-child(3){
        right: 4%;
        bottom: 40%;
    }
    .social_media:nth-child(4){
        right: 2%;
        bottom: 20%;
    }
}

@media screen and (min-width: 1200px){
    .social_media:nth-child(1){
        right: 10%;
        bottom: 78%;
    }
    .social_media:nth-child(2){
        right: 13%;
        bottom: 60%;
    }
    .social_media:nth-child(3){
        right: 10%;
        bottom: 40%;
    }
    .social_media:nth-child(4){
        right: 13%;
        bottom: 20%;
    }
}

@media screen and (min-width: 1400px){
    .social_media:nth-child(1){
        right: 15%;
        bottom: 78%;
    }
    .social_media:nth-child(2){
        right: 13%;
        bottom: 60%;
    }
    .social_media:nth-child(3){
        right: 15%;
        bottom: 40%;
    }
    .social_media:nth-child(4){
        right: 13%;
        bottom: 20%;
    }
}

/* ---------- *\
    banner變化
\* ---------- */
@media screen and (min-width: 550px){
    .banner-imagery{
        height: 500px;
    }

    .banner-shopping{
        height: 500px;
    }
    .banner-recipe{
        height: 500px;
    }
    .p-online_store-banner{
        height: 500px;
    }
}

@media screen and (min-width: 600px){
    /* .banner-imagery{
        height: 550px;
    } */
    /* .banner-shopping{
        height: 450px;
    }
    .banner-recipe{
        height: 450px;
    }
    .p-online_store-banner{
        height: 450px;
    } */

}

@media screen and (min-width: 650px){
    .banner-imagery{
        height: 550px;
    }
    .banner-shopping{
        height: 550px;
    }
    .banner-recipe{
        height: 550px;
    }
    .p-online_store-banner{
        height: 550px;
    }
}

@media screen and (min-width: 768px){
    /* .banner-imagery{
        height: 650px;
    } */
    /* .banner-shopping{
        height: 550px;
    }
    .banner-recipe{
        height: 550px;
    }
    .p-online_store-banner{
        height: 550px;
    } */
}

@media screen and (min-width: 1024px){
    .banner-imagery{
        height: 650px;
    }
    .banner-shopping{
        height: 650px;
    }
    .banner-recipe{
        height: 650px;
    }
    .p-online_store-banner{
        height: 650px;
    }
}

