/* ------------ *\
    menu
\* ------------ */
.recipe-txt a{
    width: 100%;
    text-align: center;
}
.recipe-menu-content{
    background-color: #F5F4F1;
    border: 3px solid #1f2c52;
    margin-top: 60px;
    position: relative;
    padding-top: 6px;
}
.recipe-menu h2{
    margin: 0;
    border: none;
}
.d-menu{
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1em;
    background-color: #F5F4F1;
}

/*tab*/
.tab{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}
.tab li a{
  display: block;
  background:#ddd;
  margin:0 2px;
  padding:10px 20px;
}
/*li active*/
.tab li.active a{
  background:#fff;
}
@media screen and (max-width:767px){
    .d-menu{top: -35px;}
}
@media screen and (min-width:768px){
    .d-menu{ top: -35px;}
}

/*tab 非選取*/
.area{
  display: none;
  opacity: 0;
  background: #fff;
  padding:15px 20px;
}

/*area is-active*/
.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {opacity: 0;}
  to {opacity: 1;}
}
  /* 內容排版 */
.recipe-tittle{
    padding: 3px 3em;
    border-top: 1px dashed #3c56a6;
    border-bottom: 1px dashed #3c56a6;
    margin-bottom: 5px;
    font-weight: 600;
}
.skill,
.fish-recipe,
.season-recipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.skill ul,
.fish-recipe ul,
.season-recipe ul{
    margin: 15px;
    text-align: center;
}
.skill li,
.fish-recipe li,
.season-recipe li{
    margin: 10px 0;
}

.area-section{
    width: 40%;
}

/* 區域顯示 */
.block{
    display: block;
}

.none{
    display: none;
}

/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}
@media screen and (max-width:767px){
	.breadcrumb li{padding: 0 5px;}
}
/* ------------ *\
    main
\* ------------ */
h2{
    text-align: center;
	/* font-weight: 600; */
	/* font-size: 22px; */
	margin-top: 20px;
	padding: 10px 0;
	border-top: 1px dashed #3c56a6;
	border-bottom: 1px dashed #3c56a6;
}

/* 處理技巧 */
.processing-cards h2{
    width: 100%;
}
.processing-cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    width: 75%; /* 配合影片移動設置 */
}
.youtube-box{
    width: 100%;
    aspect-ratio: 642/361;
}
.youtube-box iframe{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}
.processing-card h3{
    text-align: center;
    margin: 4% 0;
    font-size: 24px;
}
.processing-btn{
    display: flex;
    justify-content: center;
}
.processing-btn a{
    color: #fff;
    background-color: #FF5959;
    padding: 1% 4%;
    border-radius: 5px;
}
.processing-btn a:hover{
    font-weight: 600;
    background-color: #ab4c4c;
}

/* 鮮魚食譜 */
/* *{
    outline: solid red 1px;
} */

.show-recipe{
    position: relative;
    width: 100%;
    margin-top: 5%;
    background-color: #EEB55F;
    padding: 15px 0px 50px 0px ;
}
.show-recipe-pic{
    display: flex;
}
.show-recipe-pic img{
    width: 60%;
    border-radius: 10px;
    margin: auto;
}
/* 文字 */
.show-recipe h2{
    margin-top: 70px;
    color: #fff;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
}
.show-recipe h3{
    color: #fff;
    margin-top: 5%;
    margin-bottom: 2%;
}
.recipe-txt .recipe-des{
    color: #fff;
}
.recipe-txt p{
    color: #fff;
}
.recipe-txt-pre{
    color: #fff;
}
.recipe-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 待排 */
.recipe-more-btn{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.recipe-more-btn a{
    color: #fff;
    background-color: #FF5959;
    padding: 1% 4%;
    border-radius: 5px;
}

.recipe-more-btn a:hover{
    font-weight: 600;
    background-color: #ab4c4c;
}
/* 當季食譜 */
.recipe-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.recipe{
    box-shadow: 3px 3px 5px #d3d6df;
    margin: 2% 1%;
    border-radius: 5px;
    width: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe:hover{
    transition: 0.5s;
    box-shadow: 4px 4px 6px #929292;
    cursor: pointer;
}
.recipe-pic{
    position: relative;
}
.recipe:hover .recipe-pic img{
    filter: brightness(0.5);
    transition: 0.5s;
}
.recipe:hover .recipe-pic::after{
    content: '查看食譜 >';
    color: #fff;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center; 
    transform: 0.5s;
}

.recipe-pic{
    width: 100%;
}
.recipe-pic img{
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 20/13;
    object-fit: cover;
}
/* 文字 */
.recipe h3{
    margin: 3% 2%;
    font-weight: 600;
}
.season-span{
    position: relative;
    left: -40%;
}
.recipe-txt{
    margin-bottom: 15%;
    margin: 1% 2%;
}
.season-tag.spring p{
    background-color: #e198b4;
    color: #ffffff;
    text-align: start;
    padding: 2px 4px;
    border-radius: 5px;
}
.season-tag.summer p{
    background-color: rgb(90, 126, 56);
    color: #ffffff;
    text-align: start;
    padding: 2px 4px;
    border-radius: 5px;
}
.season-tag.fall p{
    background-color: rgb(249, 163, 97);
    color: #ffffff;
    text-align: start;
    padding: 2px 4px;
    border-radius: 5px;
}
.season-tag.winter p{
    background-color: #89c3eb;
    color: #ffffff;
    text-align: start;
    padding: 2px 4px;
    border-radius: 5px;
}
.recipe-txt p{
    color: rgb(74, 74, 74);
    margin: 4px 0;
    line-height: 1.5em;
}
/* 收藏 */
/* 星星 */
.favorite{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: rgb(221, 8, 8);
    height: 25px;
    width: 25px;                 
}
.recipe-foot{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 3%;
}
.recipe-foot a{
    display: inline-block;
    background-color: #f2645f;
    margin-right: 0.5em;
    padding: 2% 5%;
    border-radius: 5px;
    color: #fff;
}
.recipe-foot a:hover{
    font-weight: 600;
    transform: 1s;
}
.now-recipe-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.now-recipe-btn a{
    color: #fff;
    background-color: #FF5959;
    padding: 1% 4%;
    border-radius: 5px;
}
.now-recipe-btn a:hover{
    font-weight: 600;
    background-color: #ab4c4c;
}

@media screen and (min-width: 768px){
    .recipe-main-site{
        display: block;
    }
    .fish-class{
        display: flex;
    }
    .processing-card{
        width: 44%;
    }
    .recipe{
        width: 40%;
    }
}
@media screen and (min-width: 1024px){
    .recipe{
        width: 20%;
    }
}