/* ------------ *\
    banner
\* ------------ */
.p-shopping_chart-banner{
    --mask:
    radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
	background-image: url(../imgs/shopping_chart/1.png);
	height: 300px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    background-position:center center;
}
.p-shopping_chart-banner .dressing-box{
    width: 100%;
}
.p-shopping_chart-banner-txt{
    position: absolute;
    bottom: 5%;
    right: 1% ;
    background-color: #b9b9b987;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
}
.p-shopping_chart-banner-txt p{
    color: #fff;
}

@media screen and (min-width: 550px){
    .p-shopping_chart-banner{
        height: 400px;
    }
}
@media screen and (min-width: 600px){
    .p-shopping_chart-banner{
        height: 450px;
    }
}

@media screen and (min-width: 650px){
    .p-shopping_chart-banner{
        height: 500px;
    }
}
@media screen and (min-width: 768px){
    .p-shopping_chart-banner{
        height: 550px;
    }
	.p-shopping_chart-banner-txt p{font-size: 24px;}
    .p-shopping_chart-banner-txt{
        line-height: 2em;
        right: 3% ;
    }
}
@media screen and (min-width: 1024px){
	.p-shopping_chart-banner-txt p{font-size: 24px;}
    .p-shopping_chart-banner-txt{
        line-height: 2em;
        right: 15% ;
    }
}
@media screen and (min-width: 1200px){
	.p-shopping_chart-banner-txt p{font-size: 28px;}
    .p-shopping_chart-banner-txt{
        line-height: 2em;
        right: 5% ;
    }
}
/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}
/* ------------ *\
    main
\* ------------ */
/* 步驟 */
.sopping-steps ol{
    display: flex;
    justify-content: center;
    text-align: center;
}
.sopping-steps li{
    margin: 2%;
    width: 20%;
    padding: 1% 0;
}
.sopping-steps li p:nth-child(1){
    height: 15px;
    width: 15px;
    margin: auto;
    color: #fff;
    background-color: #0ea5a1;
    padding: 5%;
    border-radius: 50% ;
    font-weight: 600;
}
.now{
    background-color: #ddd;
    border-radius: 5px;
}   

.sopping-steps li p:nth-child(2){
    color: #000;
    font-weight: 600;
    margin-top: 20px;
}




/* 表格公版 */
thead tr{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
table{
    width: 100%;
}
.shopping_chart{
    width: 80%;
    margin: auto;
}

table p{
    line-height: 1.5em;
}

/* discount */
.discount-box{
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.discount-price{
    text-align: end;
}
.total-box{
    text-align: end;
}

.new-member{
    /* color: #aaa; */
    font-size: 15px;
}
.quite-sign-up{
    color: red;
    font-size: 15px;
    cursor: pointer;
}

/* shipping */
.shipping-area{
    width: 15%;
    text-align: center;
}
.shipping-check{
    width: 10%;
    text-align: center;

}
.shipping-demo{
    width: 65%;
}
.shipping-fee{
    width: 10%;
    text-align: center;

}
.shipping-class{
    border-bottom: 1px solid #aaa;
}
.shipping-demo p{
    text-indent: 2em;
    color: black;
}

/* wrapping */
.wrapping-way{
    width: 15%;
    text-align: center;
}
.wrapping-check{
    width: 10%;
    text-align: center;

}
.wrapping-demo{
    width: 65%;
}
.wrapping-fee{
    width: 10%;
    text-align: center;

}
.wrapping-class{
    border-bottom: 1px solid #aaa;
}
.wrapping-demo p{
    text-indent: 2em;
    color: black;
}

/* pay */
.pay-way{
    width: 15%;
    text-align: center;
}
.pay-check{
    width: 10%;
    text-align: center;

}
.pay-demo{
    width: 65%;
}
.pay-class{
    border-bottom: 1px solid #aaa;
}
.pay-demo p{
    text-indent: 2em;
    color: black;
}

.finall.btn{
display: flex;
justify-content: space-between;
margin: 10% 30%;
}

.page3-finall{
    margin: 100px 0;
}