/* ------------ *\
    banner
\* ------------ */

.p-shopping_chart-banner{
    --mask:
    radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
	background-image: url(../imgs/shopping_chart/1.png);
	height: 300px;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    background-position:center center;
}
.p-shopping_chart-banner .dressing-box{
    width: 100%;
}
.p-shopping_chart-banner-txt{
    position: absolute;
    bottom: 5%;
    right: 1% ;
    background-color: #b9b9b987;
    padding: 2%;
    line-height: 1.5em;
    border-radius: 5px;
}
.p-shopping_chart-banner-txt p{
    color: #fff;
}

@media screen and (min-width: 550px){
    .p-shopping_chart-banner{
        height: 400px;
    }
}
@media screen and (min-width: 600px){
    .p-shopping_chart-banner{
        height: 450px;
    }
}

@media screen and (min-width: 650px){
    .p-shopping_chart-banner{
        height: 500px;
    }
}
@media screen and (max-width:767px){
    .goods-pic{display: none;}
}
@media screen and (min-width: 768px){
    .p-shopping_chart-banner{
        height: 550px;
    }
	.p-shopping_chart-banner-txt p{font-size: 24px;}
    .p-shopping_chart-banner-txt{
        line-height: 2em;
        right: 3% ;
    }
}
@media screen and (min-width: 1024px){
	.p-shopping_chart-banner-txt p{font-size: 24px;}
    .p-shopping_chart-banner-txt{
        line-height: 2em;
        right: 15% ;
    }
}
@media screen and (min-width: 1200px){
	.p-shopping_chart-banner-txt p{font-size: 28px;}
    .p-shopping_chart-banner-txt{
        line-height: 2em;
        right: 5% ;
    }
}
/* ------------ *\
    path
\* ------------ */
.breadcrumb{
	display: flex;
	margin: 20px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    color: #3c56a6;
}
.breadcrumb a:hover,
.breadcrumb li:last-child a{
    color: #0EA5A1;
}
.breadcrumb li+li{
    padding-left: 0;
}
.breadcrumb li+li::before{
    content: '/';
    margin-right: 20px;
}
/* ------------ *\
    main
\* ------------ */
/* 步驟 */
.sopping-steps ol{
    display: flex;
    justify-content: center;
    text-align: center;
}
.sopping-steps li{
    margin: 2%;
    width: 20%;
    padding: 1% 0;
}
.sopping-steps li p:nth-child(1){
    height: 15px;
    width: 15px;
    margin: auto;
    color: #fff;
    background-color: #0ea5a1;
    padding: 5%;
    border-radius: 50% ;
    font-weight: 600;
}
.now{
    background-color: #ddd;
    border-radius: 5px;
}   

.sopping-steps li p:nth-child(2){
    color: #000;
    font-weight: 600;
    margin-top: 20px;
}




/* 表格公版 */
thead tr{
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}
table{
    width: 100%;
}
.shopping_chart{
    width: 80%;
    margin: auto;
}
h2,th{
    color: rgb(255, 255, 255);
}
table p{
    line-height: 1.5em;
    color: rgb(245, 245, 245);
    margin: 5px;
    text-align: center;
}
table th{
    font-weight: 600;
}
.total-box{
    color: #fff;
    margin-top: 10px;
}
th,td{
    line-height: 2em;
}
input{
    outline: none;
    border-radius: 5px;
    height: 1.5em;
}
/* check */
.table-check tbody tr{
    border-bottom: 1px dashed #fff;
    
}
.out-shape{
    background-color: #b4866b;
    padding: 5%;
    border-radius: 10px;
    margin: 50px 0;
    padding-bottom: 60px;
}
.delete-x{
    display: inline-block;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.goods-price{
    text-align: center; 

}
.goods-price span{
    color: rgb(255, 255, 255);

}
.goods-box{
    display: flex;
    flex-direction: column;
}
.btn-reduce,
.btn-add{
    color: #fff;
    cursor: pointer;
}
.goods-item{
    display: flex;
    width: 100%;
    justify-content: center;
}
.count-box input{
    text-align: center;
}

/* .goods-price,  */
.goods-total{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-box{
    text-align: center;
    vertical-align: middle;
}
.goods-name{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.total-box{
    text-align: end;
}

.goods-pic img{
    width: 100px;
    height: 100px;
    margin: 5px 10px 5px ;
    border-radius: 5px;
}
.check tr{
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.goods-weight{
    color: #fff;
}
.goods-discount-tag{
    color: #fff;
}
.discount-box label{
    color: #fff;
}
.discount-price{
    color: #fff;
}
.goods-total span{
    color: #fff;
}

/* discount */
.discount-box{
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.discount-price{
    text-align: end;
}
.car-diacount-btn{
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
}
.car-diacount-btn:hover{
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
}

/* shipping */
.shipping-area{
    width: 15%;
    text-align: center;
}
.shipping-check{
    width: 10%;
    text-align: center;

}
.shipping-demo{
    width: 65%;
}
.shipping-fee{
    width: 10%;
    text-align: center;

}
.shipping-class{
    border-bottom: 1px solid rgb(255, 255, 255);
}
.shipping-demo p{
    text-indent: 2em;
    color: rgb(255, 255, 255);
}

/* wrapping */
.wrapping-way{
    width: 15%;
    text-align: center;
}
.wrapping-check{
    width: 10%;
    text-align: center;

}
.wrapping-demo{
    width: 65%;
}
.wrapping-fee{
    width: 10%;
    text-align: center;

}
.wrapping-class{
    border-bottom: 1px solid rgb(255, 255, 255);
}
.wrapping-demo p{
    text-indent: 2em;
    color: rgb(255, 255, 255);
}

/* pay */
.pay-way{
    width: 15%;
    text-align: center;
}
.pay-check{
    width: 10%;
    text-align: center;

}
.pay-demo{
    width: 65%;
}
.pay-class{
    border-bottom: 1px solid rgb(255, 255, 255);
}
.pay-demo p{
    text-indent: 2em;
    color: rgb(255, 255, 255);
}

.finall.btn{
display: flex;
justify-content: space-between;
margin: 10% 30%;
font-size: 30px;
}
.finall a{
    color: #fff;
    background-color: #0EA5A1;
    padding: 10px;
    border-radius: 10px;
}
/* ------------ *\
    page-2
\* ------------ */
.data-section{
    margin: 10px 0;
}
.p2-demo{
    color: #fff;
}
.end{
    text-align: end;
    margin: 5px 0;
}
.center{
    text-align: center;
    margin: 5px 0;
}
.p2.total-box{
    margin: 0;
}
.p2.total-box.out-shape{
    padding-bottom: 0;
}
.quite-sign-up{
    font-weight: 600;
    cursor: pointer;
}
.quite-sign-up:hover{
    color: darkred;
    transition: 0.5s;
}
.textarea{
    text-align: start;
}
textarea{
    outline: none;
    border-radius: 5px;
}